[repositories]
  local
  my-ivy-proxy-releases: https://artifactory.raiffeisen.ru/artifactory/remote-ivy/, [organization]/[module]/(scala_[scalaVersion]/)(sbt_[sbtVersion]/)[revision]/[type]s/[artifact](-[classifier]).[ext]
  repo1-maven-proxy-releases: https://artifactory.raiffeisen.ru/artifactory/repo1/
  jcenter-maven-proxy-releases: https://artifactory.raiffeisen.ru/artifactory/jcenter/
  artifactory-libs: https://artifactory.raiffeisen.ru/artifactory/elbrus-d-mvn/
  artifactory-yum: https://artifactory.raiffeisen.ru/artifactory/elbrus-d-yum/
  my-ivy-sbt-plugin-releases: https://artifactory.raiffeisen.ru/artifactory/sbt-plugin-releases/, [organization]/[module]/(scala_[scalaVersion]/)(sbt_[sbtVersion]/)[revision]/[type]s/[artifact](-[classifier]).[ext]